h1 {
    color:darkorange;
    text-align: center;
    font-size: 80px;
}

body {
    background-color: khaki;
}

header {
    background-color: navajowhite;
}

p {
    color: brown;
    font-size: larger;
}