

body {
    font-style: italic;
    background-color: khaki;
    margin: 0;
    padding: 0;
}

p {
    color: brown;
    font-size: larger;
}

header {
    font-style: italic;
    background-color: navajowhite;
    height: 100px;
    font-size: 50px;
    color: brown;
    text-align: center;
}

main{
    font-style: italic;
    background-color: #f7ab42;
    display: flex;
    justify-content: flex-start;
    height: 400px;
}

article {
    font-style: italic;
    background-color: #faf9f5;
    height: 400px;
    width: 100%;
    margin-right: 2%;
    text-align: center;
}

aside {
    font-style: italic;
    background-color: #7e3b11;
    height: 400px;
}

@keyframes colorChange {
    0% {
        background-color: #faad4e; /* Початковий колір */
    }
    25% {
        background-color: #743908; /* Другий колір */
    }
    50% {
        background-color: #ffdec8; /* Третій колір */
    }
    75% {
        background-color: #9f5306; /* Четвертий колір */
    }
    100% {
        background-color: #faad4e; /* Повертаємося до початкового кольору */
    }
}

aside {
    animation: colorChange 5s infinite; /* Анімація з тривалістю 5 секунд */
    padding: 20px; /* Внутрішні відступи */
    border-radius: 8px; /* Закруглені кути */
    color: #fff; /* Колір тексту */
    transition: color 0.5s; /* Плавний перехід для кольору тексту */
}

